<!-- componente alertas -->
<app-alerta [objAlerta]="alert"></app-alerta>
<!-- / -->

<div class="container-fluid central">
  <app-logout-bar ></app-logout-bar>
  <section class="section">
    <div class="base-cont">
      <div class="tit-princ">
        <div class=" text-left pull-left">
          <span (click)="regresaconsulta()"><img src="../../../../assets/images/btn-arrow-lf.png"></span>
          <span>Consultar usuario</span>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary btuser pull-right" (click)="editarusuario()" >Editar</button>
        </div>
      </div>
      <div class="body-princ">

        <div class="usrlist pull-left" *ngFor="let item of items | keyvalue: keepOriginalOrder">
          <div class="titulo">{{item.key}}:</div>
          <div class="valor">{{item.value}}</div>
        </div>

      </div>
    </div>
  </section>
</div>
