<app-fichapaciente></app-fichapaciente>
<app-card-template>
    <div header class="flex justify-content-between align-items-center consultaControlDeArticulos">
        <label>
      Consulta de control de artículos
    </label>
        <div class="botones">
            <button type=" submit " class="btn btn-primary btn-guardar " (click)="irNuevoRegistro() ">
                Nuevo Registro
            </button>
        </div>
    </div>
    <div content style="padding-bottom: 3.7%;">
        <form novalidate class="formInfo" [formGroup]="datesForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group datepicker-group">
                        <label class="control-label tituloServicio" for="articulosInit">Fecha desde:</label>
                        <input [ngClass]="{'form-control-error': !datesForm.get('fechaInicial').valid && datesForm.get('fechaInicial').dirty}" class="form-control calendario" id="articulosInit" formControlName="fechaInicial" type="text" placeholder="dd/mm/aaaa">
                        <span class="glyphicon glyphicon-calendar fondocalendar" aria-hidden="true">
                        <div class="imgCalendar"></div>
                    </span>
                        <small class="form-text form-text-error Campo-obligatorio redColor" *ngIf="!datesForm.get('fechaInicial').valid && datesForm.get('fechaInicial').dirty ">
                    Campo obligatorio
                    </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group datepicker-group">
                        <label class="control-label tituloServicio" for="articulosFinal">Fecha hasta:</label>
                        <input [ngClass]="{'form-control-error': !datesForm.get('fechaFinal').valid && datesForm.get('fechaFinal').dirty}" class="form-control calendario" id="articulosFinal" formControlName="fechaFinal" type="text" placeholder="dd/mm/aaaa">
                        <span class="glyphicon glyphicon-calendar fondocalendar " aria-hidden="true ">
                        <div class="imgCalendar "></div>
                    </span>
                        <small class="form-text form-text-error Campo-obligatorio redColor " *ngIf="!datesForm.get('fechaFinal').valid && datesForm.get('fechaFinal').dirty ">
                        Campo obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="col-auto mt-5 " style="padding-left: 1.20em !important ">
                        <button class="btn btn-danger btuser " type="button " (click)="limpiar() ">
                            Limpiar
                          </button>
                        <button type=" submit " class="btn btn-primary btn-guardar " (click)="buscar() ">
                            Búscar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row ">
            <div class="col-md-6 ">
                <label class="control-label " style="font-weight: 700; color: #666666; ">Búsquedas anteriores</label>
            </div>
            <div class="col-md-6 flex justify-content-end ">
                <div class="form-group ">
                    <label class="control-label ">Visualizar datos</label>
                    <select class="form-select ml-5 select-view-data " [(ngModel)]="pageSize ">
            <option [ngValue]="10 ">10</option>
            <option [ngValue]="15 ">15</option>
            <option [ngValue]="20 ">20</option>
            <option [ngValue]="25 ">25</option>
          </select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="tabla.length> 0 else mostrarSeccionSinResultados">
            <div class="row">
                <div class="col-md-12">
                    <table class="tabla" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="encabezadoTable" style="padding: 8px 30px 5px; justify-content: center; position: relative; display: flex; gap: 25px;">
                                    <div style="margin-left: -15px;">Fecha</div>
                                    <div>
                                        <i class="fa-solid fa-caret-up arrow arrow-up" [ngClass]="{'active-opacity': columnaId === 'fecha' && order === 'asc'}" (click)="sortBy('fecha', 'asc', 'fecha')">
                  </i>
                                        <i class="fa-solid fa-caret-down arrow arrow-down" [ngClass]="{'active-opacity': columnaId === 'fecha' && order === 'desc'}" (click)="sortBy('fecha', 'desc', 'fecha')">
                  </i>
                                    </div>
                                </th>
                                <th class="encabezadoTable" style="padding: 8px 30px 5px; text-align: left; width: 70px;">Persona que elaboró</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of tabla | paginate:{itemsPerPage:pageSize,currentPage:page}; let i = index">
                            <tr>
                                <td class="bordesTablaFecha" style="cursor: pointer; text-decoration: none !important; color: #4D92DF!important; text-decoration: none !important;" (click)="irDetalle(item);">{{ item.fecha }}</td>
                                <td class="bordesTablaDescripcion" style="padding-left: 30px; text-align: left !important;"> {{item.personalQueElaboro}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row col-md-12" style="height: 40px; border: 1px solid #ddd; margin-top: 0%; margin-left: 0px;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="Rectangle-9601" style="margin-top: 0px !important;  justify-content: center; ">
                        <div class="">
                            <pagination-controls style="margin-left: auto; margin-right: auto;content: '>';" class="my-pagination" (pageChange)="page = $event" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flex align-items-center justify-content-end" style="margin-right: -7%; margin-top: 1.3%;">
                        <label class="control-label" style="padding-top: 4px; margin-right: 10px;">Página</label>
                        <div class="form .wa-3 " style="text-align: center; width: 13%;">
                            <div style="float: right; margin-right: 24%; margin-top: -26%; color: gray;">{{page}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #mostrarSeccionSinResultados>
            <div class="row">
                <div class="div-container-image">
                    <img class="errorimg" src="./assets/hu002-busqueda/no encontrado.png">
                </div>
            </div>
        </ng-template>
    </div>
</app-card-template>