<app-app-alerts [alert]="alert"></app-app-alerts>
<app-menu></app-menu>
<app-card-template>
    <header header class="flex justify-content-between align-items-center title">
        <label>
            Informe de servicios profesionales Administración 4-30-6P/21
        </label>
    </header>
    <section content>
        <form [formGroup]="formularioBusqueda" (submit)="buscar()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group datepicker-group">
                        <label class="control-label tituloServicio" for="calendar">Fecha:</label>
                        <input calendar class="form-control" id="calendar" type="text" placeholder="dd/mm/aaaa"
                            formControlName="fecha">
                        <span class="glyphicon fondocalendar" aria-hidden="true">
                            <div class="imgCalendar"></div>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label tituloServicio">
                            Servicio:
                        </label>
                        <mat-select class="form-control form-control-mat-select" aria-label="Servicio"
                            formControlName="servicio" [disableOptionCentering]="true">
                            <mat-option class="select-font" [value]="''" selected>Seleccionar</mat-option>
                            <mat-option class="select-font" [value]="servicio.cve_especialidad"
                                *ngFor="let servicio of serviciosEspecialidad">
                                {{ servicio.des_especialidad }}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label tituloServicio">
                            Turno:
                        </label>
                        <mat-select class="form-control form-control-mat-select" aria-label="Servicio"
                            formControlName="turno" [disableOptionCentering]="true">
                            <mat-option class="select-font" [value]="''" selected>Seleccionar</mat-option>
                            <mat-option class="select-font" [value]="turno.cve_turno" *ngFor="let turno of turnos">{{
                                turno.des_turno }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label tituloServicio">
                            Lugar:
                        </label>
                        <mat-select class="form-control form-control-mat-select" aria-label="Servicio"
                            formControlName="lugar" [disableOptionCentering]="true">
                            <mat-option class="select-font" [value]="''" selected>
                                Seleccionar
                            </mat-option>
                            <mat-option class="select-font" [value]="lugar.cve_ubicacion" *ngFor="let lugar of lugares">
                                {{ lugar.des_completa_ubicacion }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label tituloServicio">
                            Responsable:
                        </label>
                        <mat-select class="form-control form-control-mat-select" aria-label="Servicio"
                            formControlName="responsable" [disableOptionCentering]="true">
                            <mat-option class="select-font" [value]="''" selected>
                                Ingresar Responsable
                            </mat-option>
                            <mat-option class="select-font" [value]="responsable.matriculaTs"
                                *ngFor="let responsable of responsables">
                                {{ responsable.nombreTs }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-auto mt-5 buttons-L">
                        <button class="btn btn-default btuser buttonL " type="button" (click)="limpiar()"
                            id="btnLimpiar">
                            Limpiar
                        </button>
                        <button type="submit" class="btn btn-primary btn-guardar buttonL" id="btnBuscar"
                            [disabled]="!formularioBusqueda.valid">
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <label class="busqueda-label" *ngIf="datosBusqueda.length === 0">Búsquedas anteriores</label>
                <label class="busqueda-label" *ngIf="datosBusqueda.length > 0">Resultados
                    <span class="label-counter">{{datosBusqueda.length}}</span>
                </label>
            </div>
            <div class="col-md-6 flex justify-content-end">
                <div class="form-group pages">
                    <label class="control-label">Visualizar datos</label>
                    <select class="form-select ml-5 select-view-data" [(ngModel)]="pageSize">
                        <option [ngValue]="5 ">5</option>
                        <option [ngValue]="10 ">10</option>
                        <option [ngValue]="15 ">15</option>
                    </select>
                </div>
            </div>
        </div>
        <ng-container *ngIf="datosBusqueda.length> 0 else mostrarSeccionSinResultados">
            <div class="row">
                <div class="col-md-12">
                    <table datatable [dtOptions]="dtOptions" class="tabla">
                        <thead>
                            <tr>
                                <th class="encabezadoTableCenter">
                                    Número
                                    <i class="fa-solid fa-caret-up arrow arrow-up"
                                        [ngClass]="{'active-opacity': columnaId === 'id' && order === 'asc'}"
                                        (click)="ordenarPor('id', 'asc', 'numero')">
                                    </i>
                                    <i class="fa-solid fa-caret-down arrow arrow-down"
                                        [ngClass]="{'active-opacity': columnaId === 'id' && order === 'desc'}"
                                        (click)="ordenarPor('id', 'desc', 'numero')">
                                    </i>
                                </th>
                                <th class="encabezadoTable w-340">Paciente</th>
                                <th class="encabezadoTable w-190">Hora de la cita</th>
                                <th class="encabezadoTable w-240">Agregado médico</th>
                                <th class="encabezadoTable w-130">Primera vez</th>
                                <th class="encabezadoTable w-100">Citado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of datosBusqueda | paginate:{itemsPerPage:pageSize,currentPage:page}; let i = index">
                                <td class="bordesTablaDetalle" (click)="imprimirPdf();">{{ item.id }}</td>
                                <td class="bordesTabla">
                                    {{item.nombrePaciente}}
                                </td>
                                <td class="bordesTabla"> {{item.timHora}}
                                </td>
                                <td class="bordesTabla">
                                    {{item.desAgregadoMedico}} </td>
                                <td class="bordesTabla">
                                    {{item.tipoNota?.nombreTiponota }}
                                </td>
                                <td class="bordesTabla">
                                    <!-- {{item.citado}} -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end table -->
            <div class="row col-md-12 pagination-row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="Rectangle-9601" >
                        <div class="">
                            <pagination-controls
                                class="my-pagination" (pageChange)="page = $event" previousLabel="" nextLabel=""
                                screenReaderPaginationLabel="Pagination">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flex align-items-center justify-content-end"
                        style="margin-right: -7%; margin-top: 1.3%;">
                        <label class="control-label" style="padding-top: 4px; margin-right: 10px;">Página</label>
                        <div class="form .wa-3 " style="text-align: center; width: 13%;">
                            <div style="float: right; margin-right: 24%; margin-top: -26%; color: gray;">{{page}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end pagination -->
        </ng-container>
        <ng-template #mostrarSeccionSinResultados>
            <div class="row">
                <div class="div-container-image">
                    <img class="errorimg" src="./assets/hu002-busqueda/no encontrado.png">
                </div>
            </div>
        </ng-template>
    </section>
</app-card-template>
