<app-alerta [objAlerta]="alert"></app-alerta>
<div style="margin-bottom: 1%"></div>
<app-tarjeta-presentacion></app-tarjeta-presentacion>
<ng-container *ngIf="datosGenerales == true">
  <app-card-template>
    <div header class="flex justify-content-between align-items-center nuevoEstudio">
      <span style="font-weight: 700; font-size: 24px; color: #222222; line-height: 29.16px;">
        Nuevo estudio social médico
      </span>
    </div>
    <div content class="content" style="border: 1px solid #CCCCCC ; width: 1099px; padding-bottom: 5.5%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);">
      <div class="contenido">
        <div class="row" style=" height: 11%;">
          <div class="datosG">
            <label class="datosGeneralesLabel" style="margin-left: -4px !important;">1.-Datos generales</label>
          </div>
          <div class="alin">
            <div header class="flex justify-content-between align-items-center col-md-3"></div>
            <div header class="flex justify-content-between align-items-center col-md-3 row"
              style="text-align: right; margin-top: 10px;">
              <div class="col-md-4" style=" height: 40px;">
                <label style="margin-right: 8px; font-size: 14px; position: relative;">1</label>
                <img src="../../assets/icons/circulo_verde.svg" alt="" style=" width: 38px; height: 38px;">
                <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
                <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 35px">
                <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
                <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
                <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
                <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
                <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
                <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
              </div>
              <div class="col-md-4" style=" height: 40px;">
                <label style="margin-right: 6px; font-size: 14px; position: relative;">2</label>
                <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
                <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
                <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 35px">
                <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
                <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
                <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
                <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
                <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
                <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
              </div>
              <div class="col-md-4" style=" height: 40px;">
                <label style="margin-right: 6px; font-size: 14px; position: relative;">3</label>
                <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
                <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
                <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 35px">
                <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
                <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
                <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
                <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
                <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
                <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="line63" style="border-bottom: black; margin-top: -0.7em !important;"></div>
        <div>
        </div>
        <form class="formInfo" style="margin-top: 1em !important;">
          <div class="container">
            <div class="flex" style="display:flex;">
              <div class="divEstudioSolicitado">
                <span class="labels">Estudio solicitado por:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar nombre">
                  {{ estudioMedico.nombreSolicitante }}
                </label>
              </div>
              <div class="divFechas">
                <span class="labels">Fecha del estudio:</span>
                <br>
                <label class="inputNormal" type="text" placeholder="dd/mm/aaaa">
                  {{ estudioMedico.fecFecha | date: 'dd / MM / yyyy' }}
                </label>
              </div>
            </div>

            <br>
            <div class="line63-DatosG"
              style="border-bottom: black; margin-top: -1em !important; margin-bottom: -0.5em !important;"></div>
            <br>

            <div class="flex-2" style="display:flex ;">
              <div class="divCP">
                <span class="labels">Código Postal:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar código postal">
                  {{ estudioMedico.codigoPostal }}
                </label>
              </div>
              <div class="divEstado">
                <span class="labels">Estado:</span>
                <br>
                <label class="inputNormal">
                  {{ estudioMedico.nombreEstado }}
                </label>
              </div>
              <div class="divD">
                <span class="labels">Delegación/Municipio:</span>
                <br>
                <label class="inputNormal">
                  {{ estudioMedico.nombreDelegacionMunicipio }}
                </label>
              </div>
            </div>
            <div class="flex-3" style="display:flex ;">
              <div class="divCiudad">
                <span class="labels">Ciudad:</span>
                <br>
                <label class="inputNormal">
                  {{ estudioMedico.nombreCiudad }}
                </label>
              </div>
              <div class="divColonia">
                <span class="labels">Colonia:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar colonia">
                  {{ estudioMedico.nomColonia }}
                </label>
              </div>
              <div class="divCalle">
                <span class="labels">Calle:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar calle">
                  {{ estudioMedico.nomVialidad }}
                </label>
              </div>
            </div>
            <div class="flex-4" style="display:flex ;">
              <div class="divNumExt">
                <span class="labels">Número exterior:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar número">
                  {{ estudioMedico.numExterior }}
                </label>
              </div>
              <div class="divNumInt">
                <span class="labels">Número interior:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar número">
                  {{ estudioMedico.numInterior }}
                </label>
              </div>
              <div class="divTipoComunidad">
                <span class="labels">Tipo de comunidad:</span>
                <br>
                <label class="inputNormal">
                  {{ estudioMedico.nombreTipoComunidad }}
                </label>
              </div>
            </div>
            <div class="flex-5" style="display:flex ; height: 60px;">
              <div class="divTelefonoFijo">
                <span class="labels">Teléfono fijo:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar número">
                  {{ estudioMedico.numTelefonoFijo }}
                </label>
              </div>
              <div class="divTelefonoCelular">
                <span class="labels">Teléfono celular:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar número">
                  {{ estudioMedico.numTelefonoCelular }}
                </label>
              </div>
              <div class="divEmail">
                <span class="labels">Correo electrónico:</span>
                <br>
                <label class="inputNormal" placeholder="Ingresar correo">
                  {{ estudioMedico.correoElectronico }}
                </label>
              </div>
            </div>
            <div class="flex-6" style="display:flex ; margin: 0 -4px 30px 0px;">
              <div class="divEstadoCivil">
                <span class="labels">Estado civil:</span>
                <br>
                <label class="inputNormal">
                  {{ getNombreEstadoCivil(estudioMedico.idEstadoCivil!) }}
                </label>
              </div>
              <div class="divOcupacion">
                <span class="labels">Ocupación:</span>
                <br>
                <label class="inputNormal">
                  {{ getNombreOcupacion(estudioMedico.idOcupacion) }}
                </label>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-4"
                style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: center;">

              </div>
              <div class="col-md-4"
                style="padding-top: 19px; padding-right: 24px;  margin-top: 0.4%; text-align: center;  color: rgb(122, 122, 122);">
                <img src="url('../../../../assets/icons/menorqueBloqueado.svg" alt="" style="margin-right: 3px;">
                <label style="font-size: 14px; font-weight: 500; color: #CFCFCF"> Atrás </label>
                <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
                <img src="url('../../../../assets/icons/1.svg" alt="" style="margin-left: -18px;">
              </div>

              <div class="col-md-4" style="padding-top: 29px; padding-right: 79px;  margin-top: -1.4%; ">
                <button type="button" class="btn btn-primary buttonL" style="float: right; border: solid 1px #9d2449"
                (click)="imprimir()">
                Imprimir
              </button>
                <button type="button" class="btn btn-primary buttonL" style="float: right; border: solid 1px #9d2449;"
                  (click)="irDatosDeFamiliar()">
                  Siguiente
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </app-card-template>
</ng-container>



<ng-container *ngIf="datosFamiliar == true">
  <app-card-template>
    <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
      <label>
        Nuevo estudio social médico
      </label>
    </div>
    <div content style="padding-bottom: 5.5%; height: 532px;">
      <div class="Rectangle-306" style="background-color: white">
        <div class="row" style="width: 100%; height: 11%; ">
          <div header class="flex justify-content-between align-items-center col-md-6">
            <label class="datos" style="margin-left: 13px !important;">
              2.- Datos de familiar / responsable
            </label>
          </div>
          <div class="alin">
            <div header class="flex justify-content-between align-items-center col-md-3"></div>
            <div header class="flex justify-content-between align-items-center col-md-3 row"
              style="text-align: right; margin-top: 20px;">
              <div class="col-md-4" style=" height: 40px;">
                <label style="margin-right: 6px; font-size: 14px; position: relative;">1</label>
                <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
                <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
                <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 35px">
                <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
                <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
                <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
                <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
                <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
                <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
              </div>
              <div class="col-md-4" style=" height: 40px;">
                <label style="margin-right: 6px; font-size: 14px; position: relative;">2</label>
                <img src="../../assets/icons/circulo_verde.svg" alt="" style="width: 38px; height: 38px;">
                <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
                <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 35px">
                <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
                <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
                <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
                <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
                <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
                <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
              </div>
              <div class="col-md-4" style=" height: 40px;">
                <label style="margin-right: 6px; font-size: 14px; position: relative;">3</label>
                <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
                <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
                <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 35px">
                <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
                <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
                <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
                <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
                <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
                <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
              </div>
            </div>
          </div>
        </div>
        <br>
        <div style="width: 464px; background-color:#DBDBDC; height: 1px; margin-top: -1.3em !important;
        margin-bottom: 0.8em !important;"></div>

        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Nombre de familiar o persona responsable
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.nombreResponsable }}
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Edad:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.edad }}
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Parentesco:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.parentesco }}
              </label>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0 -4px  -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Código postal:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.codigoPostalFam }}
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Estado:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.nombreEstado }}
                <!-- {{ estudioMedico.nombreEstadoFam }} -->
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Delegación/Municipio:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.nombreDelegacionMunicipio }}
                <!-- {{ estudioMedico.nombreDelegacionMunicipioFam }} -->
              </label>
            </div>
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Ciudad
              </label>
              <label class="inputNormal" id="txtconsulta">
                <!-- {{ estudioMedico.nombreCiudadFam }} -->
                {{ estudioMedico.nombreCiudad }}
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Colonia:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.nomColoniaFam }}
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Calle:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.nomVialidadFam }}
              </label>
            </div>
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Número exterior
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.numExteriorFam }}
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Número interior:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.numInteriorFam }}
              </label>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0 -4px  -4px; margin: 0 -4px 35px 0px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Teléfono fijo:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.numTelefonoFijoFam }}
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Teléfono celular:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.numTelefonoCelularFam }}
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Correo electrónico:
              </label>
              <label class="inputNormal" id="txtconsulta">
                {{ estudioMedico.correoElectronicoFam }}
              </label>
            </div>
          </div>
        </div>

        <div style="width: 100%; height: 17%; ">
          <div class="row">
            <div class="col-md-4"
              style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: center;">

            </div>
            <div class="col-md-4"
              style=" padding-right: 24px;  margin-top: 0.4%; text-align: center;">
              <img src="url('../../../../assets/icons/menor_que.svg" alt="" style="margin-right: 5px; cursor:pointer;"
                (click)="irDatosGenerales()">
              <label style="font-size: 14px; font-weight: 500; cursor:pointer;" (click)="irDatosGenerales()"> Atrás
              </label>
              <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
              <img src="url('../../../../assets/icons/2.svg" alt="" style="margin-left: -18px;">
            </div>

            <div class="col-md-4" style=" padding-right: 24px;  margin-top: -1.4%;">
              <button (click)="imprimir();" class="btn btn-primary buttonL"
                style="float: right;border: solid 1px #9d2449;">
                Imprimir
              </button>
              <button class="btn btn-primary buttonL" style="float: right; border: solid 1px #9d2449;;"
                (click)="irExploracionCaso()">
                Siguiente
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </app-card-template>
</ng-container>

<ng-container *ngIf="datosExploracionCaso == true">
  <app-card-template-expandible>
    <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
      <label>
        Nuevo estudio social médico
      </label>
    </div>
    <div content style="padding-bottom: 5.5%; height: 600px;">
      <div class="Rectangle-306-2" style="background-color: white">
        <div class="row" style=" height: 11%; ">
          <div header class="flex justify-content-between align-items-center col-md-6">
            <label class="datos" style="margin-left: 13px !important;">
              3.- Datos de exploración del caso
            </label>
          </div>
          <div header class="flex justify-content-between align-items-center col-md-3"></div>
          <div header class="flex justify-content-between align-items-center col-md-3 row"
            style="text-align: right; margin-top: 15px;">
            <div class="col-md-4" style=" height: 40px;">
              <label style="margin-right: 6px; font-size: 14px; position: relative;">1</label>
              <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
              <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;">
              <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
              <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
              <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
              <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
              <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
              <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
              <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
            </div>
            <div class="col-md-4" style=" height: 40px;">
              <label style="margin-right: 6px; font-size: 14px; position: relative;">2</label>
              <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
              <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
              <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
              <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
              <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
              <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
              <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
              <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
              <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
            </div>
            <div class="col-md-4" style=" height: 40px;">
              <label style="margin-right: 6px; font-size: 14px; position: relative;">3</label>
              <img src="../../assets/icons/circulo_verde.svg" alt="" style="width: 38px; height: 38px;">
              <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
              <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
              <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
              <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
              <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
              <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
              <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
              <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
            </div>
          </div>
        </div>

        <div style="width: 464px; background-color:#DBDBDC; height: 1px; margin-bottom: 1em !important;"></div>

        <div style="width: 100%; height: 50%;">
          <div class="row">
            <div class="col-md-5" style="margin-left: 16px;">
              <div class="">
                <label class="control-label tituloInput3">
                  Objetivo del estudio:
                </label>
                <label class="inputs3" style="margin-left: 10px;">
                  {{ estudioMedico.objetivoEstudio }}
                </label>
              </div>
            </div>

            <div class="col-md-1">
            </div>
            <div class="col-md-5" style="margin-left: -20px;">
              <label class="control-label tituloInput3">
                Datos del paciente:
              </label>
              <label class="inputs3" style="margin-left: 10px;">
                {{ estudioMedico.datoPaciente }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="margin-left: 16px;">
              <label class="control-label tituloInput3">
                Datos familiares:
              </label>
              <label class=" inputs3" id="datospaciente" style="margin-left: 10px;">
                {{ estudioMedico.datoFamiliar }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5" style="margin-left: -20px;">
              <label class="control-label tituloInput3">
                Datos económicos:
              </label>
              <label class="inputs3" id="datospaciente" style="margin-left: 10px;">
                {{ estudioMedico.datoEconomico }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="margin-left: 16px;">
              <label class="control-label tituloInput3">
                Condiciones del hogar:
              </label>
              <label class=" inputs3" style="margin-left: 10px;">
                {{ estudioMedico.condicionHogar }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5" style="margin-left: -20px;">
              <label class="control-label tituloInput3">
                Datos complementarios:
              </label>
              <label class="inputs3" style="margin-left: 10px;">
                {{ estudioMedico.datoComplementario }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="margin-left: 16px;">
              <label class="control-label tituloInput3">
                Diagnóstico social del paciente:
              </label>
              <label class=" inputs3" style="margin-left: 10px;">
                {{ estudioMedico.diagSocialPaciente }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5" style="margin-left: -20px;">
              <label class="control-label tituloInput3">
                Diagnóstico social de la familia:
              </label>
              <label class="inputs3" style="margin-left: 10px;">
                {{ estudioMedico.diagSocialFamilia }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="margin-left: 16px;">
              <label class="control-label tituloInput3">
                Plan de tratamiento social:
              </label>
              <label class=" inputs3" style="margin-left: 10px;">
                {{ estudioMedico.planTratSocial }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5" style="margin-left: -20px;">
              <label class="control-label tituloInput3">
                Acciones realizadas:
              </label>
              <label class="inputs3" style="margin-left: 10px;">
                {{ estudioMedico.accionRealizada }}
              </label>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 17%; ">
          <div class="row">
            <div class="col-md-4"
              style="padding-right: 24px;  margin-top: 13px;; text-align: end; margin-bottom: 17px;">
            </div>
            <div class="col-md-4"
              style="padding-right: 25px;  text-align: center; margin-top: 13px;margin-bottom: 17px;">
              <img src="url('../../../../assets/icons/menor_que.svg" alt="" style="margin-right: 5px; cursor:pointer;"
                (click)="irDatosDeFamiliar()">
              <label style="font-size: 14px; font-weight: 500; cursor:pointer;" (click)="irDatosDeFamiliar()"> Atrás
              </label>
              <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
              <img src="url('../../../../assets/icons/3.svg" alt="" style="margin-left: -18px;">
            </div>
            <div class="col-md-4" style=" padding-right: 24px; text-align: center; margin-bottom: 17px;">
              <button (click)="imprimir();" class="btn btn-primary buttonL"
                style="float: right;border: solid 1px #9d2449;">
                Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-card-template-expandible>
</ng-container>
<app-info-bottom></app-info-bottom>
