<div class="container" style="background-color: #10312b;">

    <div class="row g-0">
        <div class="col-12 col-md-12 pleca-head">
            <div class="Historial-clnico" style="padding-left: 25px;" >Agenda Digital Transversal</div>
            <div class="Group-1028" style=" margin-right: 10px;">
                <div class="auth-user">{{nombreUsuario}}</div>
                <div class="auth-rol">{{rol}}</div>
            </div>
            <div >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                        class="caret mnu"></span></a>
                <ul class="dropdown-menu dropdown-menu-right list-menu" role="menu" aria-labelledby="dLabel">
                    <li><a  (click)="btnCatalogos()"  >Catálogos</a></li>
                    <li><a href="/"  (click)="btnLogin()">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>