<app-app-alerts [alert]="alert"></app-app-alerts>
<app-menu *ngIf="verDetalle=='true'"></app-menu>
<!-- <app-tarjeta-presentacion *ngIf="verDetalle!='true'"></app-tarjeta-presentacion> -->
<app-tarjeta-presentacion *ngIf="verDetalle!='true'" [mostrarBtnAtras]="true" [url]="'consulta-aviso-mp'"></app-tarjeta-presentacion>

<app-card-template>

  <div header class="nuevoAvisoMP">
    <span class="spantitulo">
      Aviso a Ministerio Público
    </span>
  </div>

  <div content>
    <div>
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <div class="container seccion">
      <div class="row">

        <div class="col-md-3">
          <div class="form-group datepicker-group">
            <label class=" tituloServicio">Fecha:</label>
            <label class="control-label">
              {{ avisoMp?.fechaElaboracion }}
            </label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class=" tituloServicio">Estado:</label>
            <label class="control-label">
              {{ avisoMp?.estado }}
            </label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class=" tituloServicio">Alcaldía o municipio:</label>
            <label class="control-label">
              {{ avisoMp?.delegacionMunicipio }}
            </label>
          </div>
        </div>

        <div class="col-md-3">
          <label class=" tituloServicio">Agencia del Ministerio público:</label>
          <label class="control-label">
            {{ avisoMp?.agenciaMp }}
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label class=" tituloServicio">A disposición:</label>
          <label class="control-label">
            {{ avisoMp?.nombrePaciente }}
          </label>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class=" tituloServicio">Hospital:</label>
            <label class="control-label">
              {{ avisoMp?.unidadMedica }}
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <label class=" tituloServicio">Ubicado en:</label>
          <label class="control-label">
            {{ avisoMp?.ubicacionHospital }}
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class=" tituloServicio">En el servicio de:</label>
            <label class="control-label">
              {{ avisoMp?.especialidad }}
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <label class=" tituloServicio">En la cama:</label>
          <label class="control-label">
            {{ avisoMp?.cama }}
          </label>
        </div>
        <div class="col-md-3">
          <div class="form-group datepicker-group">
            <label class=" tituloServicio">Fecha de ingreso:</label>
            <label class="control-label">
              {{ avisoMp?.fechaIngreso }}
            </label>
          </div>
        </div>

        <div class="col-md-2">
          <label class=" tituloServicio">Hora de ingreso:</label>
          <label class=" tituloServicio">Hora: <label class="control-label">
            {{ hora}}
          </label></label>

        </div>
        <div class="col-md-2">
          <br>
          <label style="margin-top: 10px;" class=" tituloServicio">Minutos: <label class="control-label">
            {{ minutos}}
          </label></label>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class=" tituloServicio">El (la) lesionado presenta:</label>
          <label class="control-label">
            {{ avisoMp?.lesionesPaciente }}
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class=" tituloServicio">Nombre médico tratante:</label>
          <label class="control-label">
            {{ avisoMp?.nombreMedico }}
          </label>
        </div>
        <div class="col-md-6">
          <label class=" tituloServicio">Matrícula:</label>
          <label class="control-label">
            {{ avisoMp?.matriculaMedico }}
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class=" tituloServicio">Nombre Trabajador(a) social:</label>
          <label class="control-label">
            {{ avisoMp?.nombreTrabajadorSocial }}
          </label>
        </div>
        <div class="col-md-6">
          <label class=" tituloServicio">Matrícula del(a) Trabajador(a) social:</label>
          <label class="control-label">
            {{ avisoMp?.matriculaTrabajadorSocial }}
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding-top: 19px; margin-top: -1.4%">
        <button type="button" (click)="imprimirAvisoMp();" class="btn btn-primary buttonL"
          style="float: right; border: solid 1px #9d2449">
          Imprimir
        </button>
      </div>
    </div>
  </div>

</app-card-template>

<app-info-bottom></app-info-bottom>
