<div class="row g-0">
  <div class="Subtract">
    <div class="bsca-pct pull-left">
      <img src="../../../assets/images/icon-busca-pct.png" />
      <span>Búscar paciente</span>
      <img src="../../../assets/images/busca-pct-lat.png" />
    </div>
    <div class="blq-2 pull-right">
      <img src="../../../assets/images/icon-cron-grp-hov.svg" />
      <img src="../../../assets/images/icon-cron-grp.svg" />
      <img class="marg-sup" src="../../../assets/images/mnu-borde-sup.svg">
      <span>Crónica grupal</span>
    </div>
    <div class="blq-3 pull-right">
      <img src="../../../assets/images/icon-don-sng-hov.svg" />
      <img src="../../../assets/images/icon-don-sng.svg" />
      <img class="marg-sup" src="../../../assets/images/mnu-borde-sup.svg">
      <span>Volante de<br>Donación de sangre</span>
    </div>
    <div class="blq-4 pull-right">
      <img class="" src="../../../assets/images/icon-aviso-mp-hov.svg"/>
      <img class="" src="../../../assets/images/icon-aviso-mp.svg" />
      <img class="marg-sup" src="../../../assets/images/mnu-borde-sup.svg">
      <span>Aviso al<br>Ministerio Público</span>
    </div>
    <div class="blq-5 pull-right">
      <img class="" src="../../../assets/images/icon-serv-prof-hov.svg"/>
      <img class="" src="../../../assets/images/icon-serv-prof.svg" />
      <img class="marg-sup" src="../../../assets/images/mnu-borde-sup.svg">
      <span>Consulta de informe<br>de Servicios Profesionales</span>
    </div>
  </div>
</div>
