<!-- componente alertas -->
<app-alerta [objAlerta]="alert"></app-alerta>
<!-- / -->

<div class="modal fade" role="dialog" id="content" #content>
  <div class="modal-dialog" role="document">
    <div class="modal-content citas">
      <div class="modal-header text-center" fxLayoutAlign="space-between center" fxLayout="column">
        <img src="../../../../assets/images/Group 2082.png"
          class="Group-2082">
        <div class="modal-title Atencin">Atención</div>
      </div>
      <div class="modal-body">
        <div class="mensaje" [innerHTML]="objmodal.mensaje"></div>
      </div>
      <div class="modal-footer">
        <button
      class="btn btn-danger btuser"
      type="button"
      (click)="cancelarmod();"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary btuser"
      (click)="aceptarmod();"
    >
      Aceptar
    </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div class="container-fluid central"> -->

  <!-- <app-logout-bar ></app-logout-bar> -->
  <!-- <app-menugral></app-menugral> -->
  <!-- <app-menu></app-menu> -->
  <app-tarjeta-presentacion></app-tarjeta-presentacion>
  <!-- <app-card-template></app-card-template> -->


    <!-- <section class="section"> -->
      <div class="base-cont">
        <div class="tit-princ">
          <div class="text-left pull-left">
            <span (click)="regresar();"><img src="../../../../assets/images/btn-arrow-lf.png"></span>
            <span>Agendar cita</span>
          </div>
          <div class="pull-right">

          </div>
        </div>

        <div class="body-princ">
          <div class="encabezado">
            <div class="izq pull-left">Por favor capture los siguientes datos:</div>
            <div class="der pull-right">Total de participantes:<span>{{contadorparticipantes}}</span></div>
          </div>

          <div class="Rectangle-283">
            <div class="sct">
              <div class="sct-pct pull-left">
                <div class="tit">¿Quién recibe la atención?*:</div>
                <div class="paciente">Paciente:</div>
                <label for="chkpaciente" class="lblnombres">
                  <input type="checkbox" [value]="paciente?.paciente" id="chkpaciente" (change)="cambiacheck($event)" checked disabled>
                  {{paciente?.paciente}}
                </label>
              </div>

              <div class="sct-fam pull-right">
                <div class="tit">Núcleo familiar:</div>
                <div class="itm-fam" *ngFor="let fam of lstchkparticipantes | filterPartipts: 'isfam'">
                  <label [for]="fam.id" class="lblnombres">
                    <input type="checkbox" [value]="fam.id" [id]="fam.id" [(ngModel)]="fam.checked" (change)="changeSelection()">
                    {{fam.value}}
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <div class="form-group">
                  <label for="otro" class="otros">Otros:</label>
                  <input
                    type="text"
                    class="form-control captura inp-otrs"
                    placeholder="Ingresar nombre de participante"
                    [(ngModel)]="txtotro"
                    maxlength="50"
                    #otrop="ngModel"
                    />
                  <span (click)="agregaparticipante(otrop);" style="cursor: pointer;">
                    <img src="../../../assets/images/fi_plus-circle.svg">
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 col-sm-11">
                <div class="tbl-ots" *ngIf="lstParticipantes.length>0">
                  <div class="tb-head">
                    <span class="nombre">Nombre</span>
                    <span class=""></span>
                  </div>
                  <div class="tb-row" *ngFor="let per of lstParticipantes">
                    <span class="nombre">{{per}}</span>
                    <span class="accion" >
                      <img src="../../../assets/images/icon-delete-min.svg"
                      (click)="eliminaparticipante(per);">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="Rectangle-307">
            <form novalidate [formGroup]="citadata" class="form-inline" role="form" autocomplete="off" style="display: flex; flex-wrap:wrap; width: 100%;">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="form-group usrlist pull-left">
                    <label for="servicio" class="titulo">Servicio
                      <span class="form-text"
                        [ngClass]="{'form-text-error': submitted && citadata.controls.servicio.errors}">*
                      </span>:
                    </label>
                    <select
                      class="form-control captura"
                      id="servicio"
                      name="servicio"
                      formControlName="servicio"
                      (ngModelChange)="onchangeservicio($event)"
                      [ngClass]="{'form-control-error': submitted && citadata.controls.servicio.errors}"
                      required
                      >
                      <option value="" disabled selected hidden>Seleccionar servicio</option>
                      <option [ngValue]="objeto" *ngFor="let objeto of lstCatServicios">{{objeto.des_especialidad}}</option>
                    </select>
                    <small
                      *ngIf="submitted && citadata.controls.servicio.errors"
                      class="form-text form-text-error">
                      {{citadata.controls.servicio.errors?.required? "Campo obligatorio" : "Formato inválido"}}
                    </small>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="form-group usrlist pull-left">
                    <label for="programa" class="titulo">Programa
                      <span class="form-text"
                        [ngClass]="{'form-text-error': submitted && citadata.controls.programa.errors}">*
                      </span>:
                    </label>
                    <select
                      class="form-control captura"
                      id="programa"
                      formControlName="programa"
                      (ngModelChange)="onchangeprograma($event)"
                      [ngClass]="{'form-control-error': submitted && citadata.controls.programa.errors}"
                      required
                      >
                      <option value="" disabled selected hidden>Seleccionar programa</option>
                      <option [ngValue]="objeto" *ngFor="let objeto of lstCatProgramas">{{objeto.des_grupo_programa}}</option>
                    </select>
                    <small
                      *ngIf="submitted && citadata.controls.programa.errors"
                      class="form-text form-text-error">
                      {{citadata.controls.programa.errors?.required? "Campo obligatorio" : "Formato inválido"}}
                    </small>
                  </div>
                </div>
                <div class="col-md-2 col-sm-6">
                  <div class="form-group usrlist pull-left datepicker-group">
                    <label for="fechahora" class="titulo">Fecha
                      <span class="form-text"
                        [ngClass]="{'form-text-error': submitted && citadata.controls.fechahora.errors}">*
                      </span>:
                    </label>
                    <input  [matDatepicker]="picker"
                      placeholder="Seleccionar fecha" formControlName="fechahora"
                      class="form-control captura fechapicker" style="padding-left: 3px;
                      font-size: 13px;"
                      [ngClass]="{'form-control-error': submitted && citadata.controls.fechahora.errors}"
                      (click)="picker.open()"
                      (dateChange)="onchangefecha(true)"
                      [matDatepickerFilter]="myFilter"
                      readonly
                      >
                    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="false">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/images/InputCalendarIcon.svg" height="27px" style="right: 12px;
                          position: absolute;
                          border-top-right-radius: 5px;
                          border-bottom-right-radius: 5px;">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                    <small
                      *ngIf="submitted && citadata.controls.fechahora.errors"
                      class="form-text form-text-error">
                      {{citadata.controls.fechahora.errors?.required? "Campo obligatorio" : "Formato inválido"}}
                    </small>

                  </div>
                </div>
                <div class="col-md-2 col-sm-6">
                  <div class="form-group usrlist pull-left">
                    <label for="hora" class="titulo">Horario
                      <span class="form-text"
                        [ngClass]="{'form-text-error': submitted && citadata.controls.hora.errors}">*
                      </span>:
                    </label>
                    <select
                      class="form-control captura"
                      id="hora"
                      formControlName="hora"
                      (ngModelChange)="onchangehora($event)"
                      [ngClass]="{'form-control-error': submitted && citadata.controls.hora.errors}"
                      required
                      >
                      <option value="" disabled selected hidden>Seleccionar hora</option>
                      <option [ngValue]="objeto" *ngFor="let objeto of lstCatHorarios">{{objeto.tim_hora_inicio}}</option>
                    </select>
                    <small
                      *ngIf="submitted && citadata.controls['hora'].errors"
                      class="form-text form-text-error">
                      {{citadata.controls.hora.errors?.required? "Campo obligatorio" : "Formato inválido"}}
                    </small>
                  </div>
                </div>
              </div>

              <div class="cuadro-resumen" *ngIf="muestraresumen">
                <div class="txt-resumen">Resumen:</div>
                <div class="row">
                  <div class="col-md-4" *ngFor="let dato of datoscita | keyvalue: keepOriginalOrder">
                    <div class="lst-item pull-left">
                      <div class="lbel">{{dato.key}}:</div>
                      <div class="valor">{{dato.value}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cuadro-extra" *ngIf="muestraresumen">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group lst-item pull-left">
                      <div class="lbel">Ocasión de servicio*:</div>
                      <div class="valor"><span>Inicial:</span>
                        <input
                          type="radio" id=""
                          value="Inicial"
                          formControlName="ocasion"
                          [ngClass]="{'form-control-error-2': submitted && citadata.controls.ocasion.errors}">
                      </div>
                      <div class="valor"><span>Seguimiento:</span>
                        <input
                          type="radio" id=""
                          value="Seguimiento"
                          formControlName="ocasion"
                          [ngClass]="{'form-control-error-2': submitted && citadata.controls.ocasion.errors}">
                      </div>
                      <small
                        *ngIf="submitted && citadata.controls.ocasion.errors"
                        class="form-text form-text-error">
                        {{citadata.controls.ocasion.errors?.required? "Campo obligatorio" : "Formato inválido"}}
                      </small>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group lst-item pull-left ">
                      <div class="lbel">Modalidad*:</div>
                      <div class="valor"><span>Presencial:</span>
                        <input
                          type="radio" id=""
                          value="Presencial"
                          formControlName="modalidad"
                          [ngClass]="{'form-control-error-2': submitted && citadata.controls.modalidad.errors}">
                      </div>
                      <div class="valor"><span>A distancia:</span>
                        <input
                          type="radio" id=""
                          value="Distancia"
                          formControlName="modalidad"
                          [ngClass]="{'form-control-error-2': submitted && citadata.controls.modalidad.errors}">
                      </div>
                      <small
                        *ngIf="submitted && citadata.controls?.modalidad?.errors"
                        class="form-text form-text-error">
                        {{citadata.controls?.modalidad?.errors?.required? "Campo obligatorio" : "Formato inválido"}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>

            </form>



          </div>

          <div class="botones-alg">
            <button *ngIf="!citaagendada" class="btn btn-primary btuser pull-right" (click)="agendarcita();" >Agendar cita</button>
            <button *ngIf="!citaagendada" class="btn btn-danger btuser pull-right" (click)="cancelarcita();" >Cancelar</button>
            <button *ngIf="citaagendada" class="btn btn-primary btuser pull-right" (click)="imprimircita();" >Imprimir</button>
            <button *ngIf="citaagendada" class="btn btn-danger btuser pull-right" (click)="regresar();" >Regresar</button>
          </div>

        </div>

      </div>
    <!-- </section> -->

<!-- </div> -->

