<!--<div *ngIf="objAlerta" style="position: absolute; width: 100%">
  <ngb-alert
    [type]="objAlerta.type"
    [dismissible]="true"
    *ngIf="objAlerta.visible || undefined"
    (closed)="!objAlerta.visible"
    style="margin: 0 auto; width: 600px"
  >
    <div [innerHTML]="objAlerta.message"></div>
  </ngb-alert>
</div>-->
<div *ngIf="objAlerta" style="  display: flex; justify-content: center;">
  <div *ngIf="objAlerta.visible || undefined" class="alert alert-dismissible alert-base" [ngClass]="objAlerta.type">
    <button type="button" class="close x-ciera" data-dismiss="alert" aria-label="Close">
      <img [src]="getimage(objAlerta.type)">
    </button>

    <div class="colorLV"  style="width: 100%;" class="mensaje"  [ngClass]="{'colorLR': objAlerta?.typeMsg === 'Error' }" >
      <strong *ngIf="objAlerta?.typeMsg">{{objAlerta?.typeMsg}}.</strong> {{objAlerta.message}}
    </div>
   
  </div>
</div>
