.alert-base {
  min-width: 698px;
  align-items: center;
  height: 60px;
  position: fixed !important;
  z-index: 200;
  margin-top: -50px;
  margin-left: 10%;
}

.mensaje {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #545454;
}

.x-ciera {
  opacity: 1;
  width: 25px;
  height: 25px;
  flex-grow: 0;
}

div.alert-danger>button>span {
  /* background: url('../../../assets/images/icon-close.svg'); */
  color: #d0021b;
}

div.alert-success>button>span {
  /* background: url('../../../assets/images/icon-close.svg'); */
  color: #1c7c3d;
}