.base-cont{
  /* height: 346px; */

  /* padding-left: 23px;
  padding-right: 23px;   */
  border-radius: 6px;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 30px;
}

.tit-princ{

  flex-grow: 0;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  height: 58.5px;
  /* display: flex; */
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.tit-princ div.pull-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tit-princ div.pull-left > span > img{
  margin-right: 15px;
  cursor: pointer;
}

.body-princ{
  padding-top: 9.5px;
  padding-left: 23px;
  padding-bottom: 20px;
  padding-right: 24px;

}

.btuser{
  width: 120px;
  height: 34px;
  border-width: 1px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding: 7px;
}
.btuser.lrg{
  width: 165px;
}

input.captura,
select.captura{
  width: 270px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ddd;
  background-color: #fff;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

input.captura.lugar,
select.captura.lugar{
  width: 470px;
}
input.captura.responsable,
select.captura.responsable{
  width: 370px;
}

select{
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: transparent;
  background-image: url("../../../assets/images/Icon.png");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 5px;
  padding-right: 20px;
  background-size: 20px 19px;

}


.etiqueta-md{
  height: 19px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.etiqueta-lg{
  width: 124px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.texval{
  height: 20px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.spc-5{
  margin: 5px 0;
}
.spc-bt-25{
  margin-bottom: 25px;
}

.cuadro-pct{


  border-bottom: solid 1px #ddd;

  margin: 10px 0;
}



div.dts-citalist{
  width: 370px;
  height: 45px;
  margin-bottom: 15px;
  margin-right: 30px;
}

div.dts-citalist:nth-child(8){
  margin-right: 0px;
}
div.dts-citalist:nth-child(9){
  width: 540px;
}
div.dts-citalist:nth-child(10){
  width: 590px;
  margin-right: 0px;
}

div.dts-citalist:nth-child(3n+10){
  margin-right: 0px;
}


div.dts-citalist > div.lbel{
  height: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

div.dts-citalist > .valor{
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.botones-alg{
  height: 34px;
  margin-bottom: 5px;
}


img.Group-2082 {
  width: 46px;
  height: 40.6px;
  flex-grow: 0;
  object-fit: contain;
}

.Atencin {
  width: 100%;
  height: 21px;
  flex-grow: 0;
  margin: 12.7px 15px 17px 15px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.modal-content.citas{
  padding-bottom: 0;
}

.modal-content.citas > .modal-body{
  margin: 25px;
  height: auto;
}

.modal-content.citas > .modal-body > .mensaje{
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;

}


.modal-content.citas > .modal-footer{
  height: 118px;
  place-content: stretch center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-content.citas > .modal-footer > .btn{
  margin: 0 25px;
}



.lbel{
  vertical-align: top;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.valor{

  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  max-height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.reg{

  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
