<!-- componente alertas -->
<app-alerta [objAlerta]="alert"></app-alerta>
<!-- / -->

<div class="modal fade" role="dialog" id="content" #content>
  <div class="modal-dialog" role="document" style="margin-top: 360px !important;">
    <div class="modal-content citas">
      <div class="modal-header text-center" fxLayoutAlign="space-between center" fxLayout="column">
        <img src="../../../../assets/images/Group 2082.png" class="Group-2082">
        <div class="modal-title Atencin">Atención</div>
      </div>
      <div class="modal-body">
        <div class="mensaje" [innerHTML]="objmodal.mensaje"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btuser" type="button" (click)="cancelarmod()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary btuser" (click)="aceptarmod()">
          Aceptar
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">


  <app-logout-bar></app-logout-bar>

  <app-tarjeta-presentacion></app-tarjeta-presentacion>


  <div class="base-cont">
    <div class="tit-princ">
      <div class="row col-12">
        <div class="text-left pull-left">
          <span (click)="regresar()"><img src="../../../../assets/images/btn-arrow-lf.png"></span>
          <span>Consulta de cita</span>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary btuser pull-right" (click)="imprimir()">Imprimir</button>
        </div>
      </div>
    </div>

    <div class="body-princ">
      <div class="row col-12">
        <div class="col-12">
          <div class="etiqueta-md ">Recibe la atención:</div>
          <div class="etiqueta-lg spc-5">Paciente:</div>
          <div class="texval">
            {{strpaciente}}
          </div>
        </div>
      </div>
      <div class="row col-12 cuadro-pct" style="display: inline-block; padding-top: 0px;">
        <div class="col-6 " style=" display: inline-flex; height: 100%; ">
          <div>
            <div class="etiqueta-lg">Núcleo familiar:</div>
            <div class="texval" *ngFor="let reg of participantes_fam">
              <div> {{reg.NOM_COMPLETO}}</div>
            </div>
          </div>
        </div>
        <div class="col-6 " style=" display: inline-flex;">
          <div>
            <span class="etiqueta-lg">Otros:</span>
            <div class="texval" *ngFor="let reg of participantes_otrs">
              <div> {{reg.NOM_COMPLETO}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-12">
        <div class="col-12">
          <div class="etiqueta-md spc-bt-25">Datos de cita:</div>

        </div>
      </div>

      <div class="row col-12 reg " style="display: inline-block; ">
        <div class="col-4 " style=" display: inline-block; height: 100%; ">
          <div class="lbel">Fecha y hora de inicio de cita: </div>
          <div class="valor">{{citaResponse.cita.fechaInicio}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">

          <div class="lbel">Fecha y hora de finalización de cita: </div>
          <div class="valor">{{citaResponse.cita.fechaFin}}</div>

        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Duración de cita: </div>
          <div class="valor">{{citaResponse.cita.duracion}}</div>
        </div>
      </div>

      <div class="row col-12 reg" style="display: block; ">
        <div class="col-7 " style=" display: inline-block; height: 100%; ">
          <div class="lbel">Ubicación (Lugar de atención): </div>
        
        </div>
        <div class="col-5 " style=" display: inline-block;">

          <div class="lbel">Dirección: </div>
        

        </div>
        <div class="col-7 " style=" display: inline-block; height: 100%; ">
       
          <div class="valor">{{citaResponse.cita.ubicacion}}</div>
        </div>
        <div class="col-5 " style=" display: inline-block;">

        
          <div class="valor">{{citaResponse.cita.direccion}}</div>

        </div>

      </div>
    

      <div class="row col-12 reg" style="display: inline-block; ">
        <div class="col-4 " style=" display: inline-block; height: 100%; ">
          <div class="lbel">Unidad médica: </div>
          <div class="valor">{{citaResponse.cita.unidadMedica}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Estatus de cita: </div>
          <div class="valor">{{citaResponse.cita.estatus}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Turno: </div>
          <div class="valor">{{citaResponse.cita.turno}}</div>
        </div>
      </div>
      <div class="row col-12 reg" style="display: inline-block; ">
        <div class="col-4 " style=" display: inline-block; height: 100%; ">
          <div class="lbel">Servicio: </div>
          <div class="valor">{{citaResponse.cita.descripcionServicio}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Programa: </div>
          <div class="valor">{{citaResponse.cita.grupoPrograma}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Ocasión de servicio: </div>
          <div class="valor">{{citaResponse.cita.ocasionServicio}}</div>
        </div>
      </div>
      <div class="row col-12 reg" style="display: inline-block;">
        <div class="col-4 " style=" display: inline-block; height: 100%; ">
          <div class="lbel">Tipo de cita: </div>
          <div class="valor">{{citaResponse.cita.tipoCita}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Trabajadora social responsable: </div>
          <div class="valor">{{citaResponse.cita.trabajadorSocial}}</div>
        </div>
        <div class="col-4 " style=" display: inline-block;">
          <div class="lbel">Modalidad: </div>
          <div class="valor">{{citaResponse.cita.modalidad}}</div>
        </div>
      </div>




      <!--  <div class="dts-citalist pull-left" *ngFor="let dato of datoscita | keyvalue: keepOriginalOrder">
        <div class="lbel">{{dato.key}}:</div>
        <div class="valor">{{dato.value}}</div>

      </div> -->




      <div class="botones-alg">
        <button class="btn btn-primary btuser lrg pull-right" (click)="confirmarcita()">Confirmar asistencia</button>
        <button class="btn btn-danger btuser pull-right" (click)="cancelarcita()">Cancelar cita</button>
      </div>
    </div>
  </div>


</div>