<app-tarjeta-presentacion></app-tarjeta-presentacion>
<app-card-template>
  <div header class="nuevoAvisoMP">
    <span class="spantitulo">
      Aviso a Ministerio Público
    </span>
  </div>
  <div content>
    <div>
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <form novalidate class="formInfo" [formGroup]="editForm">
      <div class="container seccion">
        <div class="row">

          <div class="col-md-3">
            <div class="form-group datepicker-group">
              <span class="spanInput">Fecha*:</span>
              <input fechaAvisoMP class="form-control" id="fechaAvisoMP" type="text" placeholder="Seleccionar fecha"
                formControlName="fechaRegistroAviso" autocomplete="off">
              <span class="glyphicon glyphicon-calendar fondocalendar" aria-hidden="true">
                <div class="imgCalendar"></div>
              </span>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <span class="spanInput">Estado*:</span>
              <mat-select class="form-control form-control-mat-select"
                [ngClass]="{'form-control-error': submitted && editForm.controls.idEstado.errors}" id="idEstado"
                formControlName="idEstado" [disableOptionCentering]="true" aria-label="Servicio"
                placeholder="Seleccionar estado" (selectionChange)="onChangeEstado()">
                <mat-option [value]="''" selected class="select-font">Seleccionar estado</mat-option>
                <mat-option class="select-font" [value]="estado.cve_estado" *ngFor="let estado of catEstados">
                  {{ estado.des_nombre_completo}}
                </mat-option>
              </mat-select>
              <small *ngIf="submitted && editForm.controls.idEstado.errors"
                class="form-text form-text-error Campo-obligatorio">
                Campo obligatorio
              </small>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <span class="spanInput">Alcaldía o municipio*:</span>
              <mat-select class="form-control form-control-mat-select"
                [ngClass]="{'form-control-error': submitted && editForm.controls.alcaldia.errors}" id="alcaldia"
                formControlName="alcaldia" [disableOptionCentering]="true" aria-label="Servicio"
                placeholder="Seleccionar alcaldía">
                <mat-option [value]="''" selected class="select-font">Seleccionar alcaldía</mat-option>
                <mat-option class="select-font" [value]="municipio.cve_delegacion_municipio"
                  *ngFor="let municipio of catMunicipios">
                  {{ municipio.des_municipio}}
                </mat-option>
              </mat-select>
              <small *ngIf="submitted && editForm.controls.alcaldia.errors"
                class="form-text form-text-error Campo-obligatorio">
                Campo obligatorio
              </small>
            </div>
          </div>

          <div class="col-md-3">
            <span class="spanInput">Agencia del Ministerio público*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar agencia"
              formControlName="agenciaMP" type="text" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <span class="spanInput">A disposición*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta"
              placeholder="Ingresar nombre del paciente" formControlName="nombrePaciente" type="text" />
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Hospital*:</span>
              <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar hospital"
                formControlName="idUnidadHospital" type="text" readonly />
            </div>
          </div>
          <div class="col-md-4">
            <span class="spanInput">Ubicado en*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar ubicación"
              formControlName="ubicacionHospital" type="text" readonly />
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <span class="spanInput">En el servicio de*:</span>
              <mat-select class="form-control form-control-mat-select" id="cveServicio" formControlName="cveServicio"
                [disableOptionCentering]="true" aria-label="Servicio" placeholder="Seleccionar servicio">
                <mat-option [value]="''" selected class="select-font optionSelect ">
                  Seleccionar servicio
                </mat-option>
                <mat-option class="select-font optionSelect" [value]="item.cve_especialidad"
                  *ngFor="let item of listaServicios">
                  {{ item.des_especialidad }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2">
            <span class="spanInput">En la cama*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Número de cama"
              maxlength="3" formControlName="numCama" type="text" numbersOnly />
          </div>
          <div class="col-md-3">
            <div class="form-group datepicker-group">
              <span class="spanInput">Fecha de ingreso*:</span>
              <input fechaIngresoAvisoMP class="form-control" id="fechaIngresoAvisoMP" type="text"
                placeholder="Seleccionar fecha" formControlName="fechaIngreso" autocomplete="off">
              <span class="glyphicon glyphicon-calendar fondocalendar" aria-hidden="true">
                <div class="imgCalendar"></div>
              </span>
            </div>
          </div>

          <div class="col-md-2 divCustomHours">
            <span class="spanInput">Hora de ingreso*:</span>
            <div style="display: flex;">
              <span class="spanInput spanInputCustom">Hora*</span>
              <mat-select class="form-control form-control-mat-select" id="horaIngresoTmp"
                formControlName="horaIngresoTmp" [disableOptionCentering]="true" aria-label="Servicio"
                (selectionChange)="horaIngresoChange();">
                <mat-option [value]="00" selected class="select-font optionSelect ">00</mat-option>
                <mat-option [value]="01" selected class="select-font optionSelect ">01</mat-option>
                <mat-option [value]="02" selected class="select-font optionSelect ">02</mat-option>
                <mat-option [value]="03" selected class="select-font optionSelect ">03</mat-option>
                <mat-option [value]="04" selected class="select-font optionSelect ">04</mat-option>
                <mat-option [value]="05" selected class="select-font optionSelect ">05</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-2 divCustomMinutes">
            <br>
            <div style="display: flex;">
              <span class="spanInput spanInputCustom">Minutos*</span>
              <mat-select class="form-control form-control-mat-select" id="minutosIngresoTmp"
                formControlName="minutosIngresoTmp" [disableOptionCentering]="true" aria-label="Servicio"
                (selectionChange)="horaIngresoChange();">
                <mat-option [value]="00" selected class="select-font optionSelect ">00</mat-option>
                <mat-option [value]="01" selected class="select-font optionSelect ">01</mat-option>
                <mat-option [value]="02" selected class="select-font optionSelect ">02</mat-option>
                <mat-option [value]="03" selected class="select-font optionSelect ">03</mat-option>
                <mat-option [value]="04" selected class="select-font optionSelect ">04</mat-option>
                <mat-option [value]="05" selected class="select-font optionSelect ">05</mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <span class="spanInput">El (la) lesionado presenta*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar lesiones"
              formControlName="lesionesPaciente" type="text" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Nombre médico tratante*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar nombre"
              formControlName="nombreMedicoTratante" type="text" />
          </div>
          <div class="col-md-6">
            <span class="spanInput">Matrícula*:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar matrícula"
              formControlName="matriculaMedicoTratante" type="text" numbersOnly maxlength="11" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Nombre Trabajador(a) social:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar nombre"
              formControlName="nombreTrabajadorSocial" type="text" />
          </div>
          <div class="col-md-6">
            <span class="spanInput">Matrícula del(a) Trabajador(a) social:</span>
            <input class="form-control matricula inputBloqueo" id="txtconsulta" placeholder="Ingresar matrícula"
              maxlength="11" formControlName="matriculaTrabajadorSocial" type="text" numbersOnly />
          </div>
        </div>
        <div style="padding-bottom: 9px; padding-top: 13px;">
          <span class="instrucciones label-obligatorios" style="margin-left: 0em !important;">
            *Campos obligatorios
          </span>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12" style="padding-top: 19px; margin-top: -1.4%">
        <button [disabled]="editForm.invalid" type="button" (click)="guardar();" class="btn btn-primary buttonL"
          style="float: right; border: solid 1px #9d2449">
          Guardar
        </button>
        <button type="button" class="btn btn-danger buttonL" style="float: right; border: solid 1px #b38e5d;" (click)="modalcarga()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-card-template>
<app-info-bottom></app-info-bottom>

<div class="modal fade" role="dialog" id="content" #content>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center modalAtencion" fxLayoutAlign="space-between center" fxLayout="column">
        <img src="../../../../assets/images/Group 2082.png" class="Group-2082" alt="">
        <div class="modal-title Atencin">Atención</div>
      </div>
      <div class="lineaSeparador"></div>
      <div class="col-md12" style="text-align: center; margin-top: 5%; height: 80px;">
        <label class="tituloModal textConfirmacion">¿Desea salir sin guardar</label>
        <br>
        <label class="textConfirmacion"> los cambios?</label>
      </div>
      <div class="col-md12 row divBtnModal">
        <div class="col-md10" width="495px" height="118px" aling="center" style="padding-right: 20%;">
          <button type="button" (click)="salirModal()" class="btn btn-primary buttonL btnGuardar">
            Aceptar
          </button>
          <button type="button" class="btn btn-danger buttonL btnCancelar" (click)="cancelarModal()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
