<div class="row g-0">
  <div class="Rectangle-1205">
    <div class="pct-sup">
      <div class="encabezado">
        <span class="Paciente">PACIENTE</span>
        <span class="Unidad-de-adscripcin">Unidad de adscripción</span>
      </div>
      <div class="descrp">
        <span class="nombre-pct">Jaime Daniel Villalobos Barrios</span>
        <span class="separador-pct"></span>
        <span class="umf-pct">UMF 49, Jalisco</span>
      </div>
    </div>
    <div class="pct-inf">
      <div class="icon-izq pull-left">
        <!-- <div class="Rectangle-862">
        </div> -->
        <img src="../../../assets/images/icono-amarillo.svg" />
      </div>
      <div class="grd-info pull-left">
        <div class="elm">
          <span class="etiqueta">Fecha de nacimiento</span>
          <span class="valor">05/12/1960</span>
        </div>
        <div class="elm" style="padding-right: 13px;">
          <span class="etiqueta">Edad</span>
          <span class="valor" style="max-width: 74px;">61 años, 3 meses</span>
        </div>
        <div class="elm">
          <span class="etiqueta">Sexo</span>
          <span class="valor">Masculino</span>
        </div>
        <div class="elm">
          <span class="etiqueta">NSS</span>
          <span class="valor">4382641109</span>
        </div>
        <div class="elm">
          <span class="etiqueta">A. Médico</span>
          <span class="valor">6M1952PE</span>
        </div>
        <div class="elm">
          <span class="etiqueta">CURP</span>
          <span class="valor">VIBJ520414HJCLRM07</span>
        </div>
        <div class="elm">
          <span class="etiqueta">Consultorio</span>
          <span class="valor">08</span>
        </div>
        <div class="elm">
          <span class="etiqueta">Turno</span>
          <span class="valor">Vespertino</span>
        </div>

        <div class="elm-img pull-right">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
          >
            <img src="../../../assets/images/menu-ts.png" class="menu-ts" />
          </a>

          <ul
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="dLabel2"
          >
            <li class="disabled"><a>Menú</a></li>
            <li role="separator" class="divider"></li>
            <li (click)="redireccion('/buscacita')"><a>Agenda</a></li>
            <li><a>Notas de trabajo social médico</a></li>
            <li><a>Estudio social médico</a></li>
            <li><a>Control de artículos</a></li>
            <li><a>Donación de sangre</a></li>
            <li><a>Ministerio público</a></li>
            <li><a>Control Interno TS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
