/* ---------------------------------- MODAL */

.modal-content {
  margin: auto;
  width: 496px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16); border-radius: 10px;
}


.modalAtencion{
  border: 1px solid #CCCCCC ; border-bottom: 1px;
  border-radius: 10px 10px 0 0;
}

.lineaSeparador{
  height: 0.15px;
  background-color: #CCCCCC;
  width: 494px;
  border-bottom: black;
}

.textConfirmacion{
  font-weight: 500; font-size: 24px;
  line-height: 21.94px; text-align: center;
}

.divBtnModal{
  width:495px; height: 118px; text-align: center; margin: auto;
  padding: 15px; background-color: #FAFAFA; border-radius: 10px;

}

.buttonL {
  width: 120px;
  height: 34px;
  border-radius: 3px;
  margin: 10px 15px 0 10px !important;
  padding: 5px;
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 200%;
}

.btnCancelar{
  float: right; border: solid 1px #b38e5d;
}

.textConfirmacion{
  font-weight: 500;
  font-size: 24px;
  line-height: 21.94px;
  text-align: center;
  margin-left: 1px;
  width: 500px;
  margin-top: 10px;
}
