<div class="modal fade" role="dialog" id="contentSesion" #content>
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header text-center modalAtencion" fxLayoutAlign="space-between center" fxLayout="column">
        <img src="../../../../assets/images/Group 2082.png" class="Group-2082" alt="">
        <div class="modal-title Atencin">Tiempo de inactividad</div>
      </div>
      <div class="lineaSeparador"></div>
      <div class="col-md12" style="text-align: center; margin-top: 5%; height: 80px;">

        <label class="tituloModal textConfirmacion">Su tiempo de sesión está por caducar,</label>
        <br>
        <label class="textConfirmacion"> ¿Desea continuar?</label>
      </div>
      <div class="col-md12 row divBtnModal">
        <div class="col-md10" width="495px" height="118px" aling="center" style="padding-right: 20%;">
          <button type="button" (click)="continuarEnSesion()" class="btn btn-primary buttonL btnGuardar">
            Continuar
          </button>
          <button type="button" class="btn btn-danger buttonL btnCancelar" (click)="cerrarCesion()">
            Cancelar
          </button>
        </div>
      </div>
    </div>

