<app-alerta [objAlerta]="mensaje"></app-alerta>

<div class="base-cont table-responsive">
  <div class="text-left tit-princ">Carga inicial de catálogos</div>
  <div class="body-princ">
    <div class="texto-ind" style="margin-bottom: 10px">
      Para poder continuar debe realizar la carga masiva de los siguientes
      catálogos utilizando la plantilla correspondiente.
    </div>
    <table
      id="tblCatalogos"
      style="width: 100%"
      class="table datatable table-hover table-bordered table-catalogo caption-top table-responsive"
      role="grid"
    >
      <caption class="borde-cap ps-2 col-12: display:inline-block">
        <div
          *ngIf="blnPendientes"
          style="padding-right: 59px; display: inline-block"
        >
          <mat-icon svgIcon="circle_naranja"></mat-icon>
          Pendientes:
          <span class="totcargas">{{ cargaCatalogos?.data?.pendientes }}</span>
        </div>
        <div
          *ngIf="blnErrores"
          style="padding-right: 59px; display: inline-block"
        >
          <mat-icon svgIcon="circle_rojo"></mat-icon>
          Errores:
          <span class="totcargas">{{ cargaCatalogos?.data?.errores }}</span>
        </div>
        <div
          *ngIf="blnCompletos"
          style="padding-right: 59px; display: inline-block"
        >
          <mat-icon svgIcon="circle_verde"></mat-icon>
          Completos:
          <span class="totcargas">{{ cargaCatalogos?.data?.completos }}</span>
        </div>
      </caption>
      <thead>
        <tr role="row">
          <th style="width: 50%" aria-controls="tblCatalogos">Catálogo</th>
          <th style="width: 25%" aria-controls="tblCatalogos">
            Estatus de carga
          </th>
          <th style="width: 25%" aria-controls="tblCatalogos">
            Última modificación
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lstCatalogo" class="odd">
          <td class="link-texto">
            <div (click)="btnAccionesCatalogos(item)">
              {{ item.nombreCatalogo }}
            </div>
          </td>
          <td>
            <mat-icon
              *ngIf="item.estatusCarga?.cveIdEstatus == 3"
              svgIcon="circle_rojo"
            ></mat-icon>
            <mat-icon
              *ngIf="item.estatusCarga?.cveIdEstatus == 2"
              svgIcon="circle_naranja"
            ></mat-icon>
            <mat-icon
              *ngIf="item.estatusCarga?.cveIdEstatus == 1"
              svgIcon="circle_verde"
            ></mat-icon>

            {{ item.estatusCarga.cveNombre }}
          </td>
          <td>
            <div *ngIf="item.estatusCarga?.cveIdEstatus == 2">-</div>
            <div *ngIf="item.estatusCarga?.cveIdEstatus != 2">
              {{ item.ultimaModificacion }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="width: 100%" *ngIf="blnContinuar">
      <button
        type="button"
        class="btn btn-primary pull-right"
        style="margin-top: 10px; margin-bottom: 20px"
        (click)="btnContinuar()"
      >
        Continuar
      </button>
    </div>
  </div>
</div>
