.modal-content{
  max-width: 870px;
  width: 770px;
  min-height: 250px;

}

.base-cont {

  border-radius: 6px;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 30px;
}

.tit-princ {


  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 19.5px;
  border-bottom: 1px solid #eee;
}

.body-princ {

  padding-top: 9.5px;
  padding-left: 23px;
  padding-bottom: 30px;
  padding-right: 23px;

}

.texto-ind {
  min-height: 17px;


  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

caption.borde-cap>div>span.totcargas {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #222;

}

.txtcarga-archivo {
  color: #9D2449;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.fail {
  text-align: left;
  color: #e10000;
  font-size: 12px;
  font-weight: 500;
}

.header-modal-det {
  border-bottom: none;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: #b38e5d;

}

::ng-deep .mat-progress-bar-buffer {
  background: white;
  border: solid 1px #ddd;
}

.color-progres {
  background-color: #B38E5D;
}

.barra-progress {
  border: 3px solid #DDDDDD;
  background-color: transparent;
}

.link-texto {
  color: #4D92DF !important;
  cursor: pointer;
}

.table-catalogo {
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
}

.table>:not(:first-child) {
  border-top: 0 solid #dee2e6;
  border-bottom: 0 solid #dee2e6;
}

table.table-catalogo>thead tr th {
  height: 31px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  background-color: #f8f8f8;
  padding-top: 7px;
  padding-bottom: 7px;
}

.borde-cap {
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding-left: 1rem;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666;
  min-height: 41px;
}

table.table-catalogo>tbody tr td {
  min-height: 16px;
  vertical-align: middle;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  padding-top: 1px;
  padding-bottom: 1px;
padding-left: 10px;
}



.error {
  color: #FF0303;
}

.pendiente {
  color: #FA7F00;
}

.correcto {
  color: #51DC00;
}

.icono-add {
  background-image: url('../../../../assets/images/add.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.mat-icon {

  margin: 4px 9px 3px 0;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.mat-iconUpload {
  margin: 4px 9px 3px 0;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.mat-iconClose {
  cursor: pointer;
  margin: 4px 9px 3px 0;
  display: inline-block;
  height: 30px;
  width: 30px;

}


.icono-iconDown  {
  background-image: url('../../../../assets/images/download.svg');
  background-repeat: no-repeat;

  display: inline-block;
  height: 18px;
  width: 18px;
  flex-grow: 0;
  margin: 0 0 -3px 10px;
  object-fit: contain;

}


.mat-iconDown {
  cursor: pointer;

  display: inline-block;
  height: 18px;
  width: 18px;
}

.mat-iconDown2 {
  cursor: pointer;
  margin: 0px 6px 2px 0;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.modal-title {
  padding-left: 20px;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  color: #000;
}

.modal-subtitle {
  padding-left: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #000;

  padding-right: 0px;
}

.label1 {
  font-size: 14px;

  text-align: left;
  color: #323433;


}

.label2 {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  color: #000;
}

.label3 {
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #000;
  text-align: left;
  color: #9d2449;

}

.label4 {
  font-size: 12px;
  font-weight: normal;

  color: #000;
}

.btnAcuse {
  font-size: 14px;
  font-weight: 500;
  color: #9d2449;
  height: 24px;




  border-radius: 4px;
  border: solid 1px #9d2449;
  background-color: #fff;
}

.btnPlantilla {

  color: #9d2449;
  height: 24px;


}



.img.footer {
  width: 100%;
  height: 74px;
  position: absolute;
  bottom: 0;
}


.cabecera {
  background-color: #eeeeee;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: #666;
  height: 17px;
  flex-grow: 0;
  margin: 0 6px 0 0;
}

table.dataTable thead th,
table.dataTable thead td {
  height: 10px;
  border-bottom: 1px solid #eee;
}

table.table-catalogo>thead tr th {
  height: 20px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  background-color: #f8f8f8;
  padding-top: 7px;
  padding-bottom: 7px;
}



table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
display: none;
}

td.dataTables_empty {
  display: none !important;
}

.modal-footer {
  min-height: 10px;
  flex-grow: 0;
  background-color: #fff;
}

a {
  background-color: transparent;
  color: #9d2449;
  text-decoration: none;
}

.breakAll {
  word-break: break-all;
}





.text-titulo{
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
