<app-app-alerts></app-app-alerts>
<app-menu [activeItem]="1"></app-menu>
<!-- Modal btn cancelar eduardo Flores-->
<div class="modal fade" role="dialog" id="content" #content >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid #CCCCCC ;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16); border-radius: 10px;">
      <div class="modal-header text-center" fxLayoutAlign="space-between center" fxLayout="column"
      style="border: 1px solid #CCCCCC ; border-bottom: 1px;
      border-radius: 10px 10px 0 0;">
        <img src="../../../../assets/images/Group 2082.png" class="Group-2082" alt="">
        <div class="modal-title Atencin">Atención</div>
      </div>
      <div class="line62" style="border-bottom: black;"></div>
      <div class="col-md12" style="text-align: center; margin-top: 5%; height: 80px;">

          <label class="titulo" style="font-weight: 500; font-size: 24px;
          line-height: 21.94px; text-align: center;" >¿Desea salir sin guardar</label>
          <br>
          <label style="font-weight: 500; font-size: 24px;
          line-height: 21.94px; text-align: center;"> los cambios?</label>

      </div>
      <div class="col-md12 row"
          style="width:495px; height: 118px; text-align: center; margin: auto;
          padding: 15px; background-color: #FAFAFA; border-radius: 10px;">

          <div class="col-md10" width="495px" height="118px" aling="center" >
              <button type="button" class="btn btn-danger buttonL" style="border: solid 1px #b38e5d;"
                  (click)="cancelarModal()">
                  Cancelar
              </button>
              <button type="button" class="btn btn-primary buttonL" style="border: solid 1px #9d2449;"
                  (click)="salirModal()">
                  Aceptar
              </button>
          </div>
          </div>

      </div>
</div>
</div>
<app-card-template>


  <div header class="justify-content-between row" >
    <div class="col-md-4">
      <div style="display: grid; text-align: left">
        <span class="pacienteNombreSpan">{{ "Nueva crónica grupal desde cero" }}</span>
      </div>
    </div>
  </div>

  <div content>
    <div>
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <form novalidate [formGroup]="editForm" class="formInfo">
      <div class="container seccion">
        <div class="row" >
          <div class="col-md-3">
            <div class="form-group">
              <span class="spanInput">Servicio*:</span>
              <mat-select class="form-control form-control-mat-select" formControlName="servicio" [disableOptionCentering]="true"
                style="background-position-y: 5px" aria-label="Servicio" (selectionChange)="obtenerGrupoPorServicio()" id="servicio">
                <mat-option class="select-font optionSelect" [value]="''" selected>Seleccionar servicio</mat-option>
                <mat-option class="select-font" [value]="item.cve_especialidad" *ngFor="let item of serviciosEspecialidad">
                  {{ item.des_especialidad }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <span class="spanInput">Grupo*:</span>
              <mat-select class="form-control form-control-mat-select" formControlName="grupo" [disableOptionCentering]="true"
                style="background-position-y: 5px" aria-label="Grupo" id="grupo">
                <mat-option class="select-font optionSelect" [value]="''" selected>Seleccionar grupo</mat-option>
                <mat-option class="select-font" [value]="item.cve_grupo_programa" *ngFor="let item of grupos">
                  {{ item.des_grupo_programa }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group datepicker-group">
              <span class="spanInput">Fecha*:</span>
              <input class="form-control" formControlName="fecha" id="fecha-cronica-cero" type="text"
                placeholder="dd/mm/aaaa" maxlength="10" autocomplete="off">
              <span class="glyphicon glyphicon-calendar fondocalendar" aria-hidden="true">
                <div class="imgCalendar"></div>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <span class="spanInput">Hora*:</span>
              <mat-select class="form-control form-control-mat-select" formControlName="hora" [disableOptionCentering]="true"
                placeholder="Seleccionar hora" style="background-position-y: 5px" aria-label="Hora">
                <mat-option [value]="'00:00:00'" selected class="select-font">00:00:00</mat-option>
                <mat-option [value]="'01:00:00'" selected class="select-font">01:00:00</mat-option>
                <mat-option [value]="'02:00:00'" selected class="select-font">02:00:00</mat-option>
                <mat-option [value]="'03:00:00'" selected class="select-font">03:00:00</mat-option>
                <mat-option [value]="'04:00:00'" selected class="select-font">04:00:00</mat-option>
                <mat-option [value]="'05:00:00'" selected class="select-font">05:00:00</mat-option>
                <mat-option [value]="'06:00:00'" selected class="select-font">06:00:00</mat-option>
                <mat-option [value]="'07:00:00'" selected class="select-font">07:00:00</mat-option>
                <mat-option [value]="'08:00:00'" selected class="select-font">08:00:00</mat-option>
                <mat-option [value]="'09:00:00'" selected class="select-font">09:00:00</mat-option>
                <mat-option [value]="'10:00:00'" selected class="select-font">10:00:00</mat-option>
                <mat-option [value]="'11:00:00'" selected class="select-font">11:00:00</mat-option>
                <mat-option [value]="'12:00:00'" selected class="select-font">12:00:00</mat-option>
                <mat-option [value]="'13:00:00'" selected class="select-font">13:00:00</mat-option>
                <mat-option [value]="'14:00:00'" selected class="select-font">14:00:00</mat-option>
                <mat-option [value]="'15:00:00'" selected class="select-font">15:00:00</mat-option>
                <mat-option [value]="'16:00:00'" selected class="select-font">16:00:00</mat-option>
                <mat-option [value]="'17:00:00'" selected class="select-font">17:00:00</mat-option>
                <mat-option [value]="'18:00:00'" selected class="select-font">18:00:00</mat-option>
                <mat-option [value]="'19:00:00'" selected class="select-font">19:00:00</mat-option>
                <mat-option [value]="'20:00:00'" selected class="select-font">20:00:00</mat-option>
                <mat-option [value]="'21:00:00'" selected class="select-font">21:00:00</mat-option>
                <mat-option [value]="'22:00:00'" selected class="select-font">22:00:00</mat-option>
                <mat-option [value]="'23:00:00'" selected class="select-font">23:00:00</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Modalidad*:</span>
              <div class="radio flex align-items-center">
                <label class="inline-flex select-font align-items-center relative mr-5">
                  <input type="radio" name="desModalidad" value="Presencial" formControlName="desModalidad"
                    class="radio-consulta" checked="checked"> Presencial
                </label>
                <label class="inline-flex select-font align-items-center ml-5 relative ">
                  <input type="radio" name="desModalidad" value="A distancia" formControlName="desModalidad"
                    class="radio-consulta" checked="checked"> A distancia
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Ocasión de servicio*:</span>
              <div class="radio flex align-items-center">
                <label class="inline-flex select-font align-items-center relative mr-5">
                  <input type="radio" name="desOcasionServicio" value="Inicial" formControlName="desOcasionServicio"
                    class="radio-consulta" checked="checked"> Inicial
                </label>
                <label class="inline-flex select-font align-items-center ml-5 relative ">
                  <input type="radio" name="desOcasionServicio" value="Seguimiento" formControlName="desOcasionServicio"
                    class="radio-consulta" checked="checked"> Seguimiento
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Ponentes*:</span>
              <input formControlName="descPonentes" class="form-control matricula inputs" id="descPonentes"
              type="text" placeholder="Ingresar ponentes" maxlength="500"/>
            </div>
          </div>
        </div>

        <div class="row" style="margin-right: -14px;">
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">N&uacute;mero de asistentes*:</span>
              <input class="form-control matricula inputs" id="numParticipantesAsistieron" formControlName="numParticipantesAsistieron"
                placeholder="Ingresar n&uacute;mero de asistentes" type="text" numbersOnly />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">T&eacute;cnica did&aacute;ctica*:</span>
              <input class="form-control matricula inputs" id="desTecnicaDidactica" formControlName="desTecnicaDidactica"
                placeholder="Ingresar t&eacute;cnica did&aacute;ctica" type="text" maxlength="500"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Material apoyo*:</span>
              <input class="form-control matricula inputs" id="desMaterialApoyo" formControlName="desMaterialApoyo"
                placeholder="Ingresar material apoyo" type="text" maxlength="500"/>
            </div>
          </div>
        </div>
      </div>

      <div class="container seccion">
        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Objetivos de la sesi&oacute;n*:</span>
            <textarea class="form-control" placeholder="Ingresar objetivos de la sesi&oacute;n" style="height: 167px;"
              formControlName="desObjetivosSesion" #objetivosRef maxlength="500" rows="4"></textarea>
            <span class="spanCaracteres">{{objetivosRef.value?.length}} /
              {{objetivosRef.getAttribute('maxlength')}} caracteres</span>
          </div>
          <div class="col-md-6">
            <span class="spanInput">Desarrollo de la sesi&oacute;n*:</span>
            <textarea class="form-control" placeholder="Ingresar desarrollo de la sesi&oacute;n" style="height: 167px;"
              formControlName="desDesarrolloSesion" #desarrolloRef maxlength="500" rows="4"></textarea>
            <span class="spanCaracteres">{{desarrolloRef.value?.length}} /
              {{desarrolloRef.getAttribute('maxlength')}} caracteres</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Perfil del grupo*:</span>
            <textarea class="form-control" placeholder="Escribir NSS paciente" rows="4" style="height: 167px;"
              formControlName="desPerfilGrupo" #perfilRef maxlength="500"></textarea>
            <span class="spanCaracteres">{{perfilRef.value?.length}} /
              {{perfilRef.getAttribute('maxlength')}} caracteres</span>
          </div>
          <div class="col-md-6">
            <span class="spanInput">Observaciones*:</span>
            <textarea class="form-control" placeholder="Ingresar observaciones" rows="4" style="height: 167px;"
              formControlName="desObservaciones" #observacionesRef maxlength="500"></textarea>
            <span class="spanCaracteres">{{observacionesRef.value?.length}} /
              {{observacionesRef.getAttribute('maxlength')}} caracteres</span>
          </div>
        </div>
      </div>


      <div class="container" style="margin-bottom: 0px; margin-left: 3.62%;">
        <span class="campo-obligatorio"> *Campos obligatorios </span>
        <button *ngIf="listParticipantes.length === 0" 
          style="width: 170px; border: solid 1px #9d2449; margin-left: -10px !important;" type="button"
          class="btn btn-primary buttonL" (click)="addParticipanteDialog();">
          Agregar participante
        </button>
      </div>

      <div class="container seccion" *ngIf="listParticipantes.length > 0">
        <div class="row col-md-12" style="margin-top: 20px; margin-bottom: 20px !important;">
          <span class="label-total-participantes" style="margin: 0px 10px;">
            Total de participantes
            <span class="label-atencion">
              &nbsp; &nbsp; {{listParticipantes.length}}
            </span>
          </span>
        </div>
        <div class="row col-md-10" style="margin-bottom: 20px !important;">
          <table id="tblparticipante"
            class="tabla table-hover table-bordered table-gral table-participantes caption-top">
            <thead>
              <tr>
                <th>Participantes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listParticipantes; let i=index">
                <td>{{item.nombreParticipante}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row col-md-12" style="margin-bottom: 20px !important;">
          <button style="width: 170px; border: solid 1px #9d2449; margin-left: 0px !important;" type="button"
            class="btn btn-primary buttonL" (click)="addParticipanteDialog();">
            Agregar participante
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%;">
          <button [disabled]="!this.editForm.valid" type="button" class="btn btn-primary buttonL"
            style="float: right;border: solid 1px #9d2449;" (click)="guardarCronica()">
            Guardar
          </button>
          <button (click)="modalcarga(content)" type="button" class="btn btn-danger buttonL"
          style="float: right; border: solid 1px #b38e5d;" >
          Cancelar
      </button>
        </div>
      </div>
    </form>
  </div>
</app-card-template>

<app-info-bottom></app-info-bottom>
