<app-header-menu></app-header-menu>

<app-tarjeta-presentacion></app-tarjeta-presentacion>
<app-card-template>
  <div header class="flex justify-content-between aling-intems-center">
    <div>
      <label class="headerText"> Control TS - Certificado de defunción </label>
    </div>
  </div>
  <div content>
    <div>
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <form
      novalidate
      [formGroup]="formAdd"
      (submit)="guardar()"
      class="formInfo"
    >
      <div class="container seccion">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group datepicker-group">
              <span class="spanInput">Fecha de defunción*:</span>
              <input
                autocomplete="off"
                id="fhDefuncion"
                [placeholder]="'Selecciona fecha'"
                [ngClass]="{
                  inputError:
                    validarCampos &&
                    formAdd.get('fechaDefuncion').hasError('required')
                }"
                matInput
                formControlName="fechaDefuncion"
                class="form-control"
              />
              <span
                class="glyphicon glyphicon-calendar fondocalendar"
                aria-hidden="true"
              >
                <div class="imgCalendar"></div>
              </span>
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('fechaDefuncion').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group datepicker-group">
              <span class="spanInput">Hora de defunción*:</span>
              <input
                class="form-control"
                [placeholder]="'Ingresa Hora'"
                [ngxTimepicker]="hrDefuncionPicker"
                formControlName="horaDefuncion"
                type="text"
              />
              <ngx-material-timepicker
                #hrDefuncionPicker
              ></ngx-material-timepicker>
              <span
                class="glyphicon glyphicon-calendar fontIcono fondocalendar"
                aria-hidden="true"
              >
                <div class="imgClock"></div>
              </span>
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('horaDefuncion').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Folio del certificado*:</span>
              <input
                class="form-control"
                [placeholder]="'Ingresa folio'"
                formControlName="foliofuncion"
                type="text"
              />
              <mat-error
                *ngIf="validarCampos && formAdd.get('foliofuncion').invalid"
              >
                Campo Obligatorio Maximo de caracteres: 10
              </mat-error>
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('foliofuncion').hasError('maxLength')
                "
              >
                Maximo de caracteres: 10
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Nombre del asegurado*:</span>
              <input
                [placeholder]="'Ingresa nombre del asegurado'"
                class="form-control"
                formControlName="nombreAsegurado"
                type="text"
              />
            </div>
            <mat-error
              *ngIf="
                validarCampos &&
                formAdd.get('nombreAsegurado').hasError('required')
              "
            >
              Campo Obligatorio
            </mat-error>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">No. de Seguridad Social:</span>
              <input
                [disabled]="true"
                class="form-control"
                formControlName="nssPaciente"
                type="text"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Servicio*:</span>
              <mat-select
                class="form-control"
                [placeholder]="'Seleccionar servicio'"
                formControlName="cveServicio"
              >
                <mat-option
                  *ngFor="let servicio of listaServicios"
                  [value]="servicio.cve_especialidad"
                >
                  {{ servicio.des_especialidad }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('cveServicio').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group datepicker-group">
              <span class="spanInput">Fecha la entrega de certificado*:</span>
              <input
                [placeholder]="'selecciona fecha'"
                id="entregaCertificado"
                autocomplete="off"
                formControlName="fechaDeEntregaDeCertificado"
                class="form-control"
                type="text"
              />
              <span
                class="glyphicon glyphicon-calendar fondocalendar"
                aria-hidden="true"
              >
                <div class="imgCalendar"></div>
              </span>
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd
                    .get('fechaDeEntregaDeCertificado')
                    .hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group datepicker-group">
              <span class="spanInput">Hora de entrega del certificado*:</span>
              <input
                [placeholder]="'Ingresa hora'"
                class="form-control"
                [ngxTimepicker]="hrEntregaPicker"
                formControlName="horaDeEntregaDeCertificado"
                type="text"
              />
              <ngx-material-timepicker
                #hrEntregaPicker
              ></ngx-material-timepicker>
              <span
                class="glyphicon glyphicon-calendar fontIcono fondocalendar"
                aria-hidden="true"
              >
                <div class="imgClock"></div>
              </span>
            </div>
            <mat-error
              *ngIf="
                validarCampos &&
                formAdd.get('horaDeEntregaDeCertificado').hasError('required')
              "
            >
              Campo Obligatorio
            </mat-error>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Funeraria*:</span>
              <input
                [placeholder]="'Ingresa nombre de la funeraria'"
                class="form-control"
                formControlName="nombreFuneraria"
                type="text"
              />
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('nombreFuneraria').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput"
                >Nombre del familiar que recibe certificado*:</span
              >
              <input
                [placeholder]="'Ingresa nombre del familiar'"
                class="form-control"
                formControlName="nombreFamiliar"
                type="text"
              />
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('nombreFamiliar').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput"
                >Parentesco del familiar que recibe certificado*:</span
              >
              <input
                class="form-control"
                [placeholder]="'Parentesco del familiar'"
                formControlName="parentescoFamiliar"
                type="text"
              />
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('parentescoFamiliar').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Observaciones*:</span>
              <input
                [placeholder]="'Ingresa observaciones'"
                class="form-control"
                formControlName="observaciones"
                type="text"
              />
              <mat-error
                *ngIf="
                  validarCampos &&
                  formAdd.get('observaciones').hasError('required')
                "
              >
                Campo Obligatorio
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Nombre del Trabajador social</span>
              <input
                [disabled]="true"
                matInput
                class="form-control"
                type="text"
                formControlName="trabajadorSocial"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Matricula del Trabajador social</span>
              <input
                [disabled]="false"
                class="form-control"
                formControlName="matricula"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div><span class="instrucciones"> *Campos obligatorios </span></div>
        </div>
        <div class="row">
          <div class="col-12 text-right" *ngIf="!hasCertificado">
            <button
              type="button"
              id="btnCancelarCertificado"
              class="btn btn-danger btn-sm"
              (click)="cancelar(cancelarModal)"
            >
              Cancelar</button
            ><button
              #btnGuardar
              [disabled]="validarCampos && formAdd.invalid"
              class="btn btn-primary btn-sm"
              id="btnGuardarCertificado"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-card-template>
<app-info-bottom></app-info-bottom>

<ng-template #cancelarModal>
  <div class="col-sm m-3 text-center">
    <img src="assets/images/Group 2082.png" class="Group-2082" alt="" />
    <div class="modal-title Atencin pt-3">Atención</div>
  </div>
  <div class="lineaSeparador"></div>
  <div class="col-sm text-center mt-4 mb-4">
    <label class="tituloModal fontEmergenteTitle"
      >¿Desea salir sin guardar</label
    >
    <br />
    <label class="fontEmergenteTitle"> los cambios?</label>
    <br /><br />
  </div>
  <div class="col-sm text-center mb-4">
    <button class="btn btn-danger btuser" type="button" mat-dialog-close>
      Cancelar
    </button>
    <button
      type="button"
      (click)="cancelarSinGuardar()"
      class="btn btn-primary btnGuardar"
      mat-dialog-close
    >
      Aceptar
    </button>
  </div>
</ng-template>
