.instrucciones {
  width: 270px;
  height: 17px;
  margin: 14.5px 711px 10px 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  margin-top: 5px;
  margin-left: 10px;
}

.formInfo {
  margin-left: -22px;
  margin-right: -22px;
}

.form-control {
  font-size: 14px;
  height: 30px;
}

.container {
  margin-bottom: 10px;
}

.seccion {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.spanInput {
  width: 275px;
  height: 20px;
  flex-grow: 0;
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.input {
  width: 328px;
  height: 30px;
}

.iconoSelect {
  position: absolute;
  margin-top: 38px;
  margin-left: 186px;
}

.fondocalendar {
  background-color: #eeeeee;
  transform: translateY(-8%);
  background-size: 10px 12px;
  background-repeat: no-repeat;
  margin: 0px 0px 3px 18.2px;
  padding: 0 20px 0 18.2px;
  height: 30px;
  border-radius: 2px 2px 2px 2px;
  margin-top: 28.4px;
  margin-right: 0.1px;
}
.select {
  background-position-y: 5px;
  padding-bottom: 1px;
  padding-top: 0px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  color: #545454;
}
.imgCalendar {
  background-image: url("../../../assets/images/calendario.svg");
  background-repeat: no-repeat;
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-49%);
  background-size: 20px 19px;
  margin-left: -1.6px;
}
.icono {
  margin-bottom: 1em;
}
.imgClock {
  background-image: url("../../../assets/images/reloj.svg");
  background-repeat: no-repeat;
  fill: #9f2241 !important;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-49%);
  background-size: 20px 19px;
  margin-left: -1.6px;
}

.datepicker-group .yyphicon {
  color: #eeeeee !important;
}

.glyphicon-calendar:before {
  display: none;
}
#btnCancelarCertificado {
  border: solid 1px #b38e5d;
}
#btnGuardarCertificado {
  border: solid 1px #9d2449;
}
.labelDetalle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  /* Untitled/Negro */

  color: #222222;
}
