<app-menu></app-menu> 
<app-card-template>
    <div header class="flex justify-content-between align-items-center nuevoEstudio">
        <span class="tituloHeader">
            Nuevo control de artículos
        </span>
    </div>
    <div content class="content">
        <span class="capText">Por favor capture los siguientes datos: </span>
        <div class="container rectangule ">
            <form role="form">
                <div class="row mt-6 ml-1">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="labelTitle" for="email-01">Correo electrónico:</label>
                            <input class="form-control" id="email-01" placeholder="Correo electrónico" type="text">
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="email-01">Correo electrónico:</label>
                            <input class="form-control" id="email-01" placeholder="Correo electrónico" type="text">
                          </div>
                    </div>
                </div> 
               
                
                <button class="btn btn-primary pull-right" type="submit">Enviar</button>
              </form>

           
        </div>
    </div>
</app-card-template>
<app-trabajador-social-clinico></app-trabajador-social-clinico>